<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, Dreamer!</h1>
    <p class="lead">The Dreamflow CMS is where you can edit the content for the Dreamflow website. Whether it be blog posts, design tips, or frequently asked question, everything is possible with the Dreamflow CMS!</p>
    <hr class="my-4">
    <p>View your changes in real time by visiting the Dreamflow website.</p>
    <a class="btn btn-primary btn-md" href="https://df.kreative.im" role="button">Visit Dreamflow</a>
  </div>
</div>